 .link
            {
                
                margin-left:20px;
            }
            #menu
            {
                background:white;
                position:absolute;
                width:300px;
                border-radius:10px;
                -moz-user-select:none;
                -webkit-user-select:none;
                -o-user-select:none;
                box-shadow: 10px 10px 5px #888888;
                border:1px solid #D4D4D4;
                z-index:111;
            }
            .c
            {
                font-family:Helvetica;
font-size:15pt;
                color:black;
                background:white;
                border-radius:10px;
            }
.desk
{
background:white;
color:black;
margin-left:20px;
margin-top:10px;
font-family:helvetica;
font-size:16pt;
}

            .c:hover
            {
                border-radius:4px;
                color:white;
                cursor:default;
                background-image: -webkit-linear-gradient(bottom , #0000CC 0%, #0000E6 50%, #0000FF 50%, #3E53F2 100%); 
background-image: -moz-linear-gradient(bottom , #0000CC 0%, #0000E6 50%, #0000FF 50%, #3E53F2 100%);      
background-image: -o-linear-gradient(bottom , #0000CC 0%, #0000E6 50%, #0000FF 50%, #3E53F2 100%); 
background-image: -ms-linear-gradient(bottom , #0000CC 0%, #0000E6 50%, #0000FF 50%, #3E53F2 100%);           }